
header 
   {display: flex;
   flex-direction: row;
   padding-bottom: 1em;
   align-items: center;}

h1 
   {color: #4A593F;
   font-family: Lora, serif;
   font-size: 2.5em;
   font-style: bold;
   }

h2 
   {color: #4A593F;
   font-family: Lora, serif;
   font-size: 2em;
   text-align: center;
   margin-top: 0em;
   margin-bottom: 0em;
   }
h3
   {color:#4A593F;
   font-family: Lora, serif;
   font-size: 1.8em;
   text-align: center;
   margin-top: 0em;
   }

h4 
   {color:#4A593F;
   font-family: Lora, serif;
   font-size: 1.5em;
   font-style: bold;
   text-align: center;
   margin-bottom: 0em;}

p
   {color:#4A593F;
   font-family: Lora, serif;
   font-size: 1.25em;
   font-style: bold;
   text-align: center;
   margin-bottom: 0em;}

body
   {margin-left: 1.5em;
      margin-right: 1.5em;}

a:link, a:visited
   {color: #4A593F;
   text-decoration: none;}

a:hover 
   {color: #daa520;}

ul
   {color: #4A593F;
   font-family: Lora, serif;
   font-size: 2em;
   list-style-type: none;
   margin: 0;
   overflow: hidden;}

li 
   {float: left;
   display: inline;
   padding: 1em;}

.breadsmenu
   {text-decoration: underline;}

.babkallahmenu 
   {text-decoration: underline;}

.bagelsmenu
   {text-decoration: underline;}

.sweetsmenu
   {text-decoration: underline;}

.pastriesmenu
   {text-decoration: underline;}

.croissantsmenu
   {text-decoration: underline;}

.aboutmenu
   {text-decoration: underline;}

.croissants 
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.homeimages 
   {max-width: 50%;}

.bagelimages
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.bagelimage
   {max-width: 50%;
      margin: 1em;}

.bagelimages2
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.bagelimage2
  {max-width: 50%;
      margin: 1em;}

.froggybread
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.frogbread
   {max-width: 50%;
      margin: 1em;}

.focacciaimages
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.focaccia
   {max-width: 50%;
      margin: 1em;}

.babkallahimages
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.babkallahbread
   {max-width: 50%;
      margin: 1em;}

.croissantrecipeimage
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.croissantrecipe
   {max-width: 50%;
      margin: 1em;}

.galetterecipeimage
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.galetterecipe
   {max-width: 50%;
      margin: 1em;}

.pastriesrow1
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.pastryrow1
   {max-width: 50%;
      margin: 1em;}

.pastriesrow2
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.pastryrow2
   {max-width: 50%;
      margin: 1em;}

.pastriesrow3
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.pastryrow3
   {max-width: 50%;
      margin: 1em;}

.pastriesrow4
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.pastryrow4
   {max-width: 50%;
      margin: 1em;}

.tiktok-embed
   {display: flex;
   align-content: left;}
 
.dropdown 
   {position: relative;
   display: inline-block;}

.dropdown-content 
   {display: none;
   position: absolute;
   min-width: 160px;
   padding: 12px 16px;
   z-index: 1;}

.dropdown:hover .dropdown-content 
   {display: flex;
   flex-direction:row;
   justify-content: space-evenly;
   font-size: .5em;}

.bagelsimage
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.bageldoughingredients
   {color:#4A593F;
   font-family: Lora, serif;
   font-size: 1.25em;
   text-align: center;
   margin-top: 0em;
   list-style-type: circle;
   display: flex;
   flex-direction: column;
   padding: 0em;}

.bageldough
   {text-align: center;}

.bagelpoachingliquid
   {color:#4A593F;
   font-family: Lora, serif;
   font-size: 1.25em;
   text-align: center;
   margin-top: 0em;
   list-style-type: circle;
   display: flex;
   flex-direction: column;
   padding: 0em;}

.poachingliquid
   {text-align: center;}

.variations
   {padding-top: 1em;}

.babkallahimage
   {display: flex;
   flex-direction: row;
   justify-content: center;}

.babkallahdoughingredients
   {color:#4A593F;
   font-family: Lora, serif;
   font-size: 1.25em;
   text-align: center;
   margin-top: 0em;
   list-style-type: circle;
   display: flex;
   flex-direction: column;
   padding: 0em;}

.babkallahdough
   {text-align: center;}

.fillingassemblyingredients
   {color:#4A593F;
   font-family: Lora, serif;
   font-size: 1.25em;
   text-align: center;
   margin-top: 0em;
   list-style-type: circle;
   display: flex;
   flex-direction: column;
   padding: 0em;}

.fillingassembly
   {text-align: center;}

footer
   {color: #4A593F;
   font-family: Lora, serif;
   text-align: right;
   padding-top: 1em;}